@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');

/*thin 100

extra-light 200
light 300
regular 400
medium 500
semi-bold 600
bold 700
extra-bold 800
black 900*/


$cat: 'Catamaran', sans-serif;
$bold: 700;
$reg: 400;
$light: 300;
